{% extends "base.html.twig" %}
{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block content %}
    <div class="container">            
       

        <div id="index-content" style="margin-top: 50px;">  <p id="index-title">Mentions légales<br>
        <p id="index-subtitle">En vigueur au 15/04/2020</p> 
        
            <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site h tt p://http://serveur1.arras-sio.com/symfony4-4020/lecoviddechaine/web/ les présentes mentions légales.</p>
            <p>La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
            <p>Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>
          
            <p><h2> <b>ARTICLE 1 : L’ÉDITEUR</b></h2><br></p>
            <p>L’édition et la direction de la publication du site http://serveur1.arras-sio.com/symfony4-4020/lecoviddechaine/web/ est assurée par Ludivine ACHOURI, domiciliée 3 allée de la distillerie Apt 17, dont le numéro de téléphone est - , et l'adresse e-mail ludivine.achouri@orange.fr.</p>
            
            <p><h2><b>ARTICLE 2 : L’HÉBERGEUR</b></h2><br></p>
            <p>L'hébergeur du site http://serveur1.arras-sio.com/symfony4-4020/lecoviddechaine/web/ est la Société -, dont le siège social est situé au - , avec le numéro de téléphone : -.</p>
           
            <p><h2><b>ARTICLE 3 : ACCÈS AU SITE</b></h2><br></p> 
            <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvantdécoulant d’une nécessité de maintenance.</p>
            <p>En cas de modification, interruption ou suspension des services le site http://serveur1.arras-sio.com/symfony4-4020/lecoviddechaine/web/ ne saurait être tenu responsable.</p>
            
            <p><h2><b>ARTICLE 4 : COLLECTE DES DONNÉES</b></h2><br></p>
            <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecteaucune donnée concernant les utilisateurs.</p>
           
            <p><h2><b>ARTICLE 5 : COOKIES</b></h2><br></p>
            <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.</p>
            <p>En naviguant sur le site, il les accepte.</p>
            <p>Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant ausein de son logiciel de navigation.</p>
            
            <p><h2><b>ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</b></h2><br></p>
            <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site http://serveur1.arras-sio.com/symfony4-4020/lecoviddechaine/web/, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p><br>
            <p> Pour plus d’informations, se reporter aux CGU du site http://serveur1.arras-sio.com/symfony4-4017/lecoviddechaine/web/ accessible à la rubrique «<a href="index.php?page=cgu">CGU</a>» </p>
        </div>
    </div>

{% endblock %}