{% extends "base.html.twig" %}

{% block title %} {{ parent() }} | S'inscrire {% endblock %}

{% block style %} 
    <style>
        #login .container #login-row #login-column #login-box {
            margin-top: 60px;
            max-width: 600px;
            height: 410px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }
        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }
        #login .container #login-row #login-column #login-box #login-form #register-link {
            margin-top: -85px;
        }</style>
    {% endblock %}

{% block content %} 


    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <div style="margin-top: 10%;" class="container">
                <div style="text-align: center;" id="index-content"> 
                    <p class="h3 mb-3 font-weight-normal">Inscription réussie !</p>
                    <p class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.nicknameUser}}</p>
                    <p class="h3 mb-3 font-weight-normal"><a href="index.php?page=login">Connectez-vous</a></p>
                </div>   
            </div>

        {% else %} 
            <div style="margin-top: 10%;" class="container">
                <div style="text-align: center;" id="index-content"> 
                    <p class="h3 mb-3 font-weight-normal">Echec de l'inscription</p> 
                    <p role="alert">{{ form.message }}</p> 
                    <p class="h3 mb-3 font-weight-normal"><a href="index.php?page=signin">Retourner sur la page d'inscription</a></p>
                </div>    
            </div>
        {% endif %}     

    {% else %}
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form"  action="index.php?page=signin" method="post" enctype="application/x-www-form-urlencoded">

                                <h3 class="text-center">Inscrivez-vous au Covid Déchaîné</h3>
                                <h1 class="h3 mb-3 font-weight-normal"></h1>

                                <div class="form-group">
                                    <label for="nicknameUser" >Pseudo:</label>
                                    <input type="text" id="nicknameUser" name="nicknameUser" class="form-control" placeholder="Pseudonyme..." required>
                                </div>

                                <div class="form-group">
                                    <label for="passwordUser1">Mot de passe:</label>
                                    <input type="password" id="passwordUser1" name="passwordUser1" class="form-control" placeholder="Mot de passe" required>
                                </div>
                                <div class="form-group">
                                    <label for="passwordUser2">Répeter le mot de passe:</label>
                                    <input type="password" id="passwordUser2" name="passwordUser2" class="form-control" placeholder="Confirmation mot de passe" required>
                                </div>

                                <div class="form-group">
                                    <button id="btSignin" class="btn btn-info btn-md" type="submit" name="btSignin">S'inscrire</button>
                                </div>


                            </form>
                            <div id="register-link" style="font-size: 12px;" class="text-left">
                                En vous inscrivant, vous acceptez nos <a href="index.php?page=cgu">Conditions Générales d'Utilisation</a>
                            </div> 
                            <div id="register-link" class="text-center" style="margin-top: 10px;">Vous possédez déjà un compte ? <a href="index.php?page=login">Se connecter</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} 
 
{% endblock %}